.hw {
  margin-top: 131px;
  border-bottom: 1px solid var(--border);
  height: fit-content;
  max-height: calc(100vh - 131px - 40px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerContainer {
  width: 100%;
}

.hwTitle {
  font-weight: 600;
  font-size: 22px;
  padding-left: 70px;
  display: flex;
  align-items: center; /* Vertically centers the text inside the header block */
  height: 100%; /* Fills up the header row area cleanly */
}

.messagesContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
  padding: 2rem 1.5rem;
  border-top: 1px solid var(--border);
}
